header {
  overflow: hidden;
}

header h1 {
  float: left;
  font-size: 16px;
}

header ul {
  float: right;
  overflow: hidden;
}

header ul li {
  font-size: 16px;
  display: inline;
  text-decoration: none;
  list-style: none;
}

main {
  width: 900px;
  margin: auto;
}

section.hero {
  position: relative;
  overflow: hidden;
}

section.hero img {
  width: 50%;
  margin-right: 1em;
  float: left;
}

section.hero h1{
  font-size: 50px;
  text-align: center;
  margin: 0px auto;
}
