<h1>Product#index</h1>
<%= link_to('New Product', 'products/new') %>

<% @products.each do |new_product| %>
<%= render 'display_products', product: new_product %>
<%= link_to('See product', product_path(new_product)) %>
<% end %>
