body {
  font-family: Helvetica;
}

header,
footer {
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color: #222222;
  color: white;
}
nav {
  text-align: center;
}

nav ul li {
  display: inline-block;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}

main {
  text-align: center;
}

main ul li {
  display: inline-block;
}

p {
  display: block;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  margin: 0px auto;
}

img {
  display: inline-block;
}
