body {
  font-family: Helvetica;
}

header,
footer {
  display: block;
  text-align: center;
  background-color: #222222;
  color: white;
}

header > h1,
footer > h6 {
  display: inline-block;
  margin: 20px auto;
  background-color: #222222;
}

nav {
  text-align: center;
}

nav ul {
  margin: 5px auto 10px auto;
}

nav ul li {
  display: inline-block;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}

h2 {
  display: block;
  margin: 0px 12.5%;
  padding: 10px;
  width: 75%;
  background-color: lightgrey;
  font-weight: normal;
}

#photoCount {
  color: blue;
  font-weight: bold;
  border-bottom: yellow 3px solid;
  margin: 5px auto;
}

main ul {
  text-align: center;
  width: 75%;
  margin: 0px auto;
}

main ul li {
  display: inline-block;
}

li > p {
  display: block;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  margin: 0px auto;
}

img {
  display: inline-block;
}
