/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */
/* body {
  font-size: 18px;
} */

h1, h2 {
  font-family: Arial;
}

.class-list {
  list-style-type: square;
}

.item {
  display: block;
  border: 10px solid red;
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px
}

#item2 {
  text-align: right;
}

/* ol > li {
  padding: 5px;
  background-color: grey;
}*/

ol > li:nth-child(odd){
  background-color: green;
}

[title="Bitmaker"]:hover {
  text-decoration: none;
}
