<% if @project.comments.any? %>
  <ul>
    <% @project.comments.each do |comment| %>
      <% if comment.persisted? %>
        <li>
          <p class="commenter"><%= comment.user.name %> said:</p>
          <p class="comment"><%= comment.comment %></p>
          <small class="comment-date">Created at <%= dateformat(comment.created_at) %></small>
          <% if current_user == comment.user %>
            <%= link_to("Delete", comment_path(@project, comment), method: :delete, data: { confirm: "Are you sure you want to delete your comment?"}) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
