<h1>Projects</h1>

<% @projects.each do |project| %>
  <article class="project">
    <%= link_to project, class: 'project-link' do %>
      <figure class="project-image">
        <%= image_tag project.image.url %>
      </figure>
      <h1 class="project-title"><%= project.title %></h1>
    <% end %>
  </article>
<% end %>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>
