<h1>Projects</h1>

<% @projects.each do |project| %>
  <h2><%= link_to project.title, project_path(project) %></h2>
<% end %>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>
