// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  text-align: center;
  margin-bottom: 1rem;
}

.project-link {
  display: block;
  text-decoration: none;
  color: cadetblue;
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}
